                                                body {
                                                    background-color: antiquewhite;
                                                }
                                                
                                                h1 {
                                                    color: #735F32;
                                                }
                                                
                                                h3 {
                                                    color: #8B7E74;
                                                }
                                                
                                                li {
                                                    color: #8B7E74;
                                                }
                                                
                                                p {
                                                    color: #8B7E74;
                                                }
                                                
                                                tr {
                                                    color: #8B7E74;
                                                }
                                                
                                                hr {
                                                    border-style: none;
                                                    border-top-style: dotted;
                                                    border-color: #F2DEBA;
                                                    border-width: 7px;
                                                    width: 7%;
                                                }